#bg-image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://github.com/gellibean/gellibean.github.io/blob/master/me_far.JPG?raw=true");
    background-size: cover;
    margin: 0px;
    z-index: 0;
}

#about-me-table{
    width:100%;
    height: 70%;
    top: 150px;
    text-align: center;
    color: var(--secondary-color);
}